.form-group {

    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 0.5rem;

    .label-input {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        margin: 0px;
        margin-bottom: 6px;
    }

    .form-input-file {
        font-family: "Poppins", sans-serif;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        padding: 10px;
        border: 1px solid rgb(64, 64, 64);
        background-color: transparent;
    }
}